.home-page {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  
  .home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-text {
    width: 100%;
    color: rgb(68, 65, 65);
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
  .content-image {
    pointer-events: none;
      background-image: url("https://media.makeameme.org/created/demo-time-5bb733.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 400px;
      min-height: 300px;
  }